/** Gradients **/

.gradient_1{
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top, #fcfff4 0%, #e5e4d7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e5e4d7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfff4 0%,#e5e4d7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfff4 0%,#e5e4d7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfff4 0%,#e5e4d7 100%); /* IE10+ */
  background: linear-gradient(top, #fcfff4 0%,#e5e4d7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e5e4d7',GradientType=0 ); /* IE6-9 */
}
