@import url('flashMessenger.css');
@import url('zend_form.css');
body{
  font-family: sans-serif;
}
table,td,th{
  border:1px solid #DDD;
  border-collapse:collapse;
}
td,th{
  padding:5px 5px 10px 15px;
}
.even{
  background-color:#CCC;
}
.odd{
  background-color:#EEE;
}