/** ZEND FORM style par défaut **/
dl.zend_form {
  width: 600px;
}
dd{
  display: inline-block;
  margin: 0;
  pading:0;
  width: 400px;
  clear: none;
  float: none;
}
dt {
  padding:0;
  margin: 0;
  clear: none;
  float: none;
  display: inline-block;
  width:100px;
}